<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span style="color: #ffffff; margin-right: 10px; font-size:30px; cursor:pointer" onclick="openCloseNav()">&#9776;</span>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-link navbar-brand" href="#">Username_yan</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Login">
      <input class="form-control mr-sm-2" type="password" placeholder="Password">
      <button class="btn btn-success my-2 mr-sm-2" type="submit">Login</button>
    </form>
    <ul class="navbar-nav">
        <li class="nav-item">
          <button type="button" class="btn btn-primary d-inline" style="float: right" href="login.html">Log out</button>
        </li>
    </ul>
</nav>