.bg-img {
  background-image: url("../../data/bg_image.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.login {
	width: 100%;
  max-width: 330px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
	padding: 15px;
	background: #FFFFFF;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-default {
	background-color: #FC446C;
}
